{% import 'macros.html' as macro %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title> Welcome to the Best News Website Online </title>
    {% endif %}
</head>
<body>
    <h3>Business News</h3>
    <ul>
       {{ macro.displaySourcesList(business)}}
    </ul>

    <h3>Sports News</h3>
    <ul>
       {{ macro.displaySourcesList(sports)}}
    </ul>

    <h3>Technology</h3>
       <ul>
       {{ macro.displaySourcesList(tech)}}
    </ul>

    <h3>Science</h3>
    <ul>
       {{ macro.displaySourcesList(science)}}
    </ul>

    <h3>Entertainment</h3>
    <ul>
       {{ macro.displaySourcesList(ent)}}
    </ul>

    
</body>
</html>