<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title> Welcome to the Best News Website Online </title>
    {% endif %}
</head>
<body>
    <h3>Business News</h3>
    <ul>
        {% for business_news in business %}
        <li class='list-unstyled'>{{ business_news.name }}</li>
        {% endfor %}
    </ul>

    <h3>Sports News</h3>
    <ul>
        {% for sports_news in sports %}
        <li class='list-unstyled'>{{ sports_news.name }}</li>
        {% endfor %}
    </ul>

    <h3>Technology</h3>
    <ul>
        {% for tech_news in tech %}
        <li class='list-unstyled'>{{ tech_news.name }}</li>
        {% endfor %}
    </ul>

    <h3>Science</h3>
    <ul>
        {% for science_news in science %}
        <li class='list-unstyled'>{{ science_news.name }}</li>
        {% endfor %}
    </ul>

    <h3>Entertainment</h3>
    <ul>
        {% for ent_news in ent %}
        <li class='list-unstyled'>{{ ent_news.name }}</li>
        {% endfor %}
    </ul>

    
</body>
</html>